{{- range $serviceName, $service := .Values.services }}
{{- if $service.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $service.name }}
  labels:
    app: {{ $service.name }}
    {{- include "spring-petclinic.labels" $ | nindent 4 }}
  namespace: {{ $.Values.namespace }}
spec:
  replicas: {{ $service.replicas | default 1 }}
  selector:
    matchLabels:
      app: {{ $service.name }}
  template:
    metadata:
      name: {{ $service.name }}
      labels:
        app: {{ $service.name }}
    spec:
      {{- if $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml $.Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      {{- if or $service.initContainers.waitForConfig }}
      initContainers:
        {{- if $service.initContainers.waitForConfig }}
        - name: wait-for-config-server
          image: darthcabs/tiny-tools:1
          args:
            - /bin/bash
            - -c
            - >
              set -x;
              while [[ "$(curl -s -o /dev/null -w '%{http_code}' {{ $.Values.config.configServer.url }})" != "200" ]]; do
                echo '.'
                sleep 15;
              done
        {{- end }}
      {{- end }}
      containers:
        - name: {{ $service.name }}
          image: "{{ $.Values.imageRegistry }}/{{ $service.image }}:{{ $service.tag }}"
          imagePullPolicy: {{ $.Values.imagePullPolicy | default "Always" }}
          ports:
            - containerPort: {{ $service.port }}
          env:
            - name: CONFIG_SERVER_URL
              value: "{{ $.Values.config.configServer.url }}"
            {{- if $service.needsEureka }}
            - name: EUREKA_INSTANCE_HOSTNAME
              value: "{{ $service.name }}"
            {{- end }}
            {{- if $service.env }}
            {{- toYaml $service.env | nindent 12 }}
            {{- end }}
---
{{- end }}
{{- end }}